{% extends 'template.html.twig' %}
{% block body %}
    
    <table class="table">
        {%for note in notes%}
       <tr>
        <td>{{note}}</td>
       </tr> 
         {%endfor%}
    </table>
    <div class="alert alert-info">
      <p>le nombre de notes:{{notes |length}}</p>  
      <p> la note minimale est :{{min(notes)}} </p>
        <p> la note maximale est :{{max(notes)}} </p>
    </div>
{% endblock %}
{% block title %}
notes 
{% endblock %}