<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre de visite</title>
</head>
<body>
    <h1> bonjour c'est votre visite numero :{{ app.session.get('nbVisite') }}</h1>
</body>
</html>
