<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p> Aujourd'hui on est le {{"now" | date("d/m/y")}}</p>
    <h1> Hello {{app.session.get('section')}}:  {{name | capitalize}} </h1> 
</body>
</html>
