<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titre %}titre Du Document {%endblock%}</title>
</head>
<body>
   header 
<hr>
{% block coprsDuDoc %}   
contenu par defaut du Doc
 {% endblock%}
 <hr>
footer
</body>
</html>